*{
    margin: 0px;
    padding: 0px;
}
.clear{
    clear: both;
}
html,body{
    background-color: #f1f1f1;
    font-size: 40px;
}
.header{
    line-height: 1.333rem;
    background-color: #fff;
    padding: 0.133rem;
}
.header-baclk{
    float: left;
    color: #222;
    font-size: 0.427rem;
    /*font-size: 0.16rem;*/
    color: #222;
}
.header-con{
    float: left;
    color: #222;
    font-size: 0.427rem;
    color: #222;
}
.content-icon{
    height: 1.707rem;
    margin-top: 0.24rem;
    background-color: #fff;
    font-size: 0.427rem;
    text-align: center;
}
.content-list{
    padding: 0.427rem;
    background-color: #fff;
    margin-top: 0.24rem;
}
.content-header{
    font-size: 0.427rem;
    color: #222;
    line-height: 1.067rem;
}
.content-img img{
    display: block;
    width: 100%;
    height: 4.533rem;
}
.header-bottom{
    border-bottom: 1px solid #ececec;
}
.content-con-name{
    color: #666;
    font-size: 0.4rem;
    line-height: 0.588rem;
    margin-right: 0.32rem;
}
.content-img-c{
    width: 3.9rem;
    height: 2.667rem;
    display: inline-block;
    margin: 0.107rem;
    border-radius: 0.107rem;
    overflow: hidden;
}
.content-img-c img{
    display: block;
    width: 100%;
    height: 100%;
}