*{
    margin: 0px;
    padding: 0px;
}
.clear{
    clear: both;
}
.header{
    line-height: 0.533rem;
}
.header-baclk{
    float: left;
    color: #222;
    font-size: 0.213rem;
}
.header-con{
    float: left;
    color: #222;
    font-size: 0.267rem;
}